ArquiteturaDDD.MVC/obj/project.assets.json
ArquiteturaDDD.MVC/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ArquiteturaDDD.MVC/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ArquiteturaDDD.MVC/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ArquiteturaDDD.MVC/obj/Debug/netcoreapp2.2/Razor/Views/_ViewStart.g.cshtml.cs
ArquiteturaDDD.MVC/obj/Debug/netcoreapp2.2/Razor/Views/_ViewImports.g.cshtml.cs
ArquiteturaDDD.MVC/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_ValidationScriptsPartial.g.cshtml.cs
ArquiteturaDDD.MVC/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_Layout.g.cshtml.cs
ArquiteturaDDD.MVC/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_CookieConsentPartial.g.cshtml.cs
ArquiteturaDDD.MVC/obj/Debug/netcoreapp2.2/Razor/Views/Shared/Error.g.cshtml.cs
ArquiteturaDDD.MVC/obj/Debug/netcoreapp2.2/Razor/Views/Home/Privacy.g.cshtml.cs
ArquiteturaDDD.MVC/obj/Debug/netcoreapp2.2/Razor/Views/Home/Index.g.cshtml.cs
ArquiteturaDDD.MVC/obj/Debug/netcoreapp2.2/ArquiteturaDDD.MVC.pdb
ArquiteturaDDD.MVC/obj/Debug/netcoreapp2.2/ArquiteturaDDD.MVC.dll
ArquiteturaDDD.MVC/obj/Debug/netcoreapp2.2/ArquiteturaDDD.MVC.csprojAssemblyReference.cache
ArquiteturaDDD.MVC/obj/Debug/netcoreapp2.2/ArquiteturaDDD.MVC.csproj.FileListAbsolute.txt
ArquiteturaDDD.MVC/obj/Debug/netcoreapp2.2/ArquiteturaDDD.MVC.csproj.CoreCompileInputs.cache
ArquiteturaDDD.MVC/obj/Debug/netcoreapp2.2/ArquiteturaDDD.MVC.csproj.CopyComplete
ArquiteturaDDD.MVC/obj/Debug/netcoreapp2.2/ArquiteturaDDD.MVC.assets.cache
ArquiteturaDDD.MVC/obj/Debug/netcoreapp2.2/ArquiteturaDDD.MVC.Views.pdb
ArquiteturaDDD.MVC/obj/Debug/netcoreapp2.2/ArquiteturaDDD.MVC.Views.dll
ArquiteturaDDD.MVC/obj/Debug/netcoreapp2.2/ArquiteturaDDD.MVC.TagHelpers.output.cache
ArquiteturaDDD.MVC/obj/Debug/netcoreapp2.2/ArquiteturaDDD.MVC.TagHelpers.input.cache
ArquiteturaDDD.MVC/obj/Debug/netcoreapp2.2/ArquiteturaDDD.MVC.RazorTargetAssemblyInfo.cs
ArquiteturaDDD.MVC/obj/Debug/netcoreapp2.2/ArquiteturaDDD.MVC.RazorTargetAssemblyInfo.cache
ArquiteturaDDD.MVC/obj/Debug/netcoreapp2.2/ArquiteturaDDD.MVC.RazorCoreGenerate.cache
ArquiteturaDDD.MVC/obj/Debug/netcoreapp2.2/ArquiteturaDDD.MVC.RazorAssemblyInfo.cs
ArquiteturaDDD.MVC/obj/Debug/netcoreapp2.2/ArquiteturaDDD.MVC.RazorAssemblyInfo.cache
ArquiteturaDDD.MVC/obj/Debug/netcoreapp2.2/ArquiteturaDDD.MVC.AssemblyInfoInputs.cache
ArquiteturaDDD.MVC/obj/Debug/netcoreapp2.2/ArquiteturaDDD.MVC.AssemblyInfo.cs
ArquiteturaDDD.MVC/obj/ArquiteturaDDD.MVC.csproj.nuget.g.targets
ArquiteturaDDD.MVC/obj/ArquiteturaDDD.MVC.csproj.nuget.g.props
ArquiteturaDDD.MVC/obj/ArquiteturaDDD.MVC.csproj.nuget.dgspec.json
ArquiteturaDDD.MVC/obj/ArquiteturaDDD.MVC.csproj.nuget.cache
ArquiteturaDDD.MVC/bin/Debug/netcoreapp2.2/ArquiteturaDDD.MVC.runtimeconfig.json
ArquiteturaDDD.MVC/bin/Debug/netcoreapp2.2/ArquiteturaDDD.MVC.runtimeconfig.dev.json
ArquiteturaDDD.MVC/bin/Debug/netcoreapp2.2/ArquiteturaDDD.MVC.pdb
ArquiteturaDDD.MVC/bin/Debug/netcoreapp2.2/ArquiteturaDDD.MVC.dll
ArquiteturaDDD.MVC/bin/Debug/netcoreapp2.2/ArquiteturaDDD.MVC.deps.json
ArquiteturaDDD.MVC/bin/Debug/netcoreapp2.2/ArquiteturaDDD.MVC.Views.pdb
ArquiteturaDDD.MVC/bin/Debug/netcoreapp2.2/ArquiteturaDDD.MVC.Views.dll
